<!DOCTYPE html>
<html lang="en">

<head>
    <title>Quote App</title>
</head>

<body>
    <h1> Quote App </h1>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <div *ngFor='let quote of quotes; let i=index'>

                <ul>
                    <li appHighlight>{{quote.quote}} <br>
                        {{quote.author}}
                        <ul>
                            <button (click)="addLikeVotes(i)"><i class="fas fa-heart"></i></button>{{quote.likeVotes}}
                            <button (click)="addDislikeVotes(i)"><i
                                    class="fas fa-heart"></i></button>{{quote.dislikeVotes}}
                        </ul>
                        <button (click)="displayDetails(i)" class="btn btn-outline-info">Quote Details</button>
                        <app-quote-detail [quote]='quote'></app-quote-detail>
                    </li>
                </ul>



            </div>

        </div>
    </div>

</body>

</html>